{% with info=info, title="Full-Stack Developer", white=True %}
{% include 'components/header.j2' %}
{% endwith %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/pagedata/index/style.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/pagedata/index/samsung.css') }}" />
<div class="container hero" data-aos="fade-up">
  <div class="hero-container">
    <div class="image-container">
      <img src="{{ url_for('proxy_image', url=info.Profile_Pic['id'], key='fullsize' )}}" alt="Dima" />
    </div>
    <div class="text-container">
      <div>
        <p id="variant1">
          {{info['index_short_text']}}
        </p>
        <p id="variant2">
          {{info['index_long_text']}}
        </p>
      </div>
    </div>
  </div>
  <div class="scroll-container">
    <p id="scrollText">Scroll down for more!</p>
  </div>
</div>
<div class="container-content" id="projects">
  {% for preview in previews %}
  <div class="content-box" style="background-color:{{preview.background_color}} ;">
    <div class="animation-box">
      <a href="{{url_for('singleproject', link=preview.link)}}" {% if loop.index0 !=0 and loop.index0%2==0
        %}data-aos="fade-left" {%elif loop.index0%2 !=0 %}data-aos="fade-right" {% endif %} data-aos-delay="300">
        <div class="content-top" {% if loop.index0==0 %}data-aos="fade-right" {% endif %} data-aos-delay="300">
          <p>{{preview.title}}</p>
          {% if preview.subname %}
          <p class="sub-text">{{preview.subname}}</p>
          {% endif %}
        </div>
        <div class="content-bottom" {% if loop.index0==0 %}data-aos="fade-left" {% endif %} data-aos-delay="300">
          {%- if loop.index == 1 %}
          <img src="{{url_for('proxy_image', url=preview.Title_Image['id'], key='bigthumbnail')}}"
            alt="{{preview.title}} Project" />
          {% else %}
          <img src="{{url_for('proxy_image', url=preview.Title_Image['id'], key='thumbnails')}}"
            alt="{{preview.title}} Project" />
          {% endif %}
        </div>
      </a>
    </div>
  </div>
  {% endfor %}
</div>
<div class="contact-form" id="contact" data-aos="zoom-out-up">{% include '/components/form.j2' %}</div>
<script src="{{ url_for('static', filename='/pagedata/index/samsung.js') }}"></script>
{% include "components/animation.j2" %}