{% with info=info, title="Projects", white=(post.post.Text_Color == '#FFFFFF') %}
{% include 'components/header.j2' %}
{% endwith %}

<body style="background-color: {{ post.post.background_color }};">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/pagedata/projects/projects.css') }}" />
  <main data-barba="container" data-barba-namespace="home">
    <div class="single-post-container">{% with post=post %}
      {% include "components/post.j2" %}
      {% endwith %}
    </div>
  </main>
  <script>
    let nextPost = {{ post.remaining_post_ids() }};
  </script>
  <script src="https://unpkg.com/@barba/core"></script>
  <script>barba.init({
      transitions: [{
        name: 'opacity-transition',
        leave(data) {
          return gsap.to(data.current.container, {
            opacity: 0
          });
        },
        enter(data) {
          return gsap.from(data.next.container, {
            opacity: 0
          });
        }
      }]
    });</script>
  <script src="{{ url_for('static', filename='/scripts/zoom.js') }}"></script>
  <script src="{{ url_for('static', filename='/pagedata/projects/projects.js') }}"></script>
  <script src="{{ url_for('static', filename='/pagedata/index/samsung.js') }}"></script>
  <script src="{{ url_for('static', filename='/scripts/htmx.min.js') }}"></script>
  {% include "components/animation.j2" %}
</body>