<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Dima | {{title}}</title>
    <meta name="title" content="Dima | {{title}}" />
    <meta name="description" content="{{info['index_short_text']}}" />
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="url_for(request.endpoint,
    _external=True, **request.view_args))" />
    <meta property="og:title" content="Dima | {{title}}" />
    <meta property="og:description" content="{{info['index_short_text']}}" />
    <meta property="og:image" content="{{ url_for('take_screenshot', width=1200, height=630, url=url_for(request.endpoint,
    _external=False, **request.view_args)) }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='/favicon.ico') }}">
    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js?render=explicit"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='/scripts/aos.css') }}" />

</head>

<body data-barba="container">
    <div class="topnav {% if white %}white{% else %}black{% endif %}" id="myTopnav">
        {% include '/components/navbar.j2' %}
    </div>
</body>


</html>