<link rel="stylesheet" href="{{ url_for('static', filename='/navbar/navbar.css') }}" />
<div class="left">
  <a id="devIcon" href="{{url_for('index')}}">&lt;/&gt;</a>
  <a id="name-navbar" href="{{url_for('index')}}">Dima</a>

</div>
<div class="right">
  <a href="{{url_for('projects')}}">
    <p id="projects-link">Projects</p>
  </a>
  <a href="{{url_for('index', _anchor='contact')}}">
    <p>Contact</p>
  </a>
  <a href="{{url_for('about')}}">
    <p id="about-link">About</p>
  </a>
  <a class="icon navbarAction">
    <img src="/navbar/hamburger.png" />
  </a>
</div>
<div class="corner">
  <a class="navbarAction"> <img src="/navbar/close.png" /> </a>
</div>
<script src="{{ url_for('static', filename='/navbar/navbar.js') }}"></script>